

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
}

nav {
	background-color: black !important;
}

body {
	background-image: #34495e;
	font-family: lato;
	
}

#loginForm {
	position: absolute;
	width: 300px;
	height: 400px;
	padding: 30px, 20px;
	background-color: #E5E5E5;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.loginForm h2 {
	text-align: center;
	margin: 30px;
}

.idForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

.passForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

#id {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

#pw {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

.btn {
	position: relative;
	left: 40%;
	transform: translateX(-50%);
	margin-bottom: 40px;
	width: 80%;
	height: 40px;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

.btn:hover {
	background-position: right;
}

/* 카카占쏙옙 占싸깍옙占쏙옙 占쏙옙튼 */
#Kakao_login {
	position: absolute;
	top: 400px;
	left: 210px;
	border: none;
}

#Naver_login {
	position: absolute;
	top: 463px;
	left: 209px;
	border: none;
}

hr {
	border-width: 2px;
}

#login {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 800px;
	margin-left: -300px;
	margin-top: -270px;
}

#bottomText {
	position: absolute;
	top: 570px;
	left: 180px;
	border: none;
	text-align: center;
}


#signup {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 800px;
	margin-top: -300px;
	margin-left: -500px;
	text-align: center;
}

table {
	width: 800px;
	margin: 20px auto;
}

#sighupsubmitbuttons {
	width: 140px;
	margin-left: 450px;
}

#resetbt {
	margin-top: -30px;
}

#signuptitle {
	margin-top: 100px;
}

/* CSS (BookCheckMainPage) */

#contents{
	width : 90%;
	height:100%;
	margin : 0 auto;
	background-color: #B1B1B1;
}


#bookingCheckTitle {
	text-align : center;
	position: relative;
	margin-top: 150px;
	left : 50%;
	width: 300px;
	margin-left: -170px;

}

#checkBybooknumber_btn {
	display: inline-block;
	margin-left: 40px;
}


#checkById_btn {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

#checkbtn {
	margin-left: 20px;
}

button {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
}

#checkBybooknumber_btn {
	margin-left: 0px;
}


#checkbyNo {
	border : 1px solid black;
	border-radius : 10px;
	width: 500px;
	height: 400px;
	float :left;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
	margin-left: 60px;

}
#checkbyNo-inside{
	width : 300px;
	display: block;
	margin: 90px auto;
}
#checkbyId-inside{
	width : 300px;
	display: block;
	margin: 90px auto;
}

#bookchkSid{
	display: inline-block;
	margin-top: 20px;
}
#checkBybooknumber_btn{
	display: inline-block;
	margin-top: 20px;
}
#checkbyId {
	border : 1px solid black;
	border-radius : 10px;

	width: 500px;
	height: 400px;
	float: left;
	margin-left:60px;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
}
/* reservelook */
#reservelook {
	margin-top: 120px;
	margin-left: 40px;
	list-style-type: none;
	font-size: 14pt;
}

div.left {
	width: 30%;
	float: left;
	box-sizing: border-box;
}

div.right {
	width: 70%;
	float: right;
	box-sizing: border-box;
}

