input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
}

nav {
	background-color: black !important;
}

body {
	background-color: white;
	font-family: lato;
}

#loginForm {
	position: absolute;
	width: 300px;
	height: 400px;
	padding: 30px, 20px;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.loginForm h2 {
	text-align: center;
	margin: 30px;
}

.idForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

.passForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

#id {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

#pw {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

.btn {
	position: relative;
	left: 40%;
	transform: translateX(-50%);
	margin-bottom: 40px;
	width: 80%;
	height: 40px;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

.btn:hover {
	background-position: right;
}

/* 카카占쏙옙 占싸깍옙占쏙옙 占쏙옙튼 */
#Kakao_login {
	position: absolute;
	top: 400px;
	left: 210px;
	border: none;
}

#Naver_login {
	position: absolute;
	top: 463px;
	left: 209px;
	border: none;
}

hr {
	border-width: 2px;
}

#login {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 700px;
	margin-left: -300px;
	margin-top: -270px;
}

#bottomText {
	position: absolute;
	top: 570px;
	left: 180px;
	border: none;
	text-align: center;
}

#signup {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 800px;
	margin-top: -300px;
	margin-left: -500px;
	text-align: center;
}

table {
	text-align: center;
	width: 1000px;
	margin: 20px auto;
}

td, tr {
	width: 100px;
	height: 40px;
}

#sighupsubmitbuttons {
	width: 140px;
	margin: 0 auto;
}

#resetbt {
	margin-top: -30px;
}

#signuptitle {
	margin-top: 80px;
}

/* CSS (BookCheckMainPage) */
#contents {
	width: 90%;
	height: 150%;
	margin: 0 auto;
	color: black;
	background-color: white;
}

#bookingCheckTitle {
	text-align: center;
	position: relative;
	margin-top: 220px;
	left: 50%;
	width: 300px;
	margin-left: -170px;
}

#checkBybooknumber_btn {
	display: inline-block;
	margin-left: 40px;
	width : 50px;
	height: 39%;
}

#checkById_btn {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

#checkbtn {
	margin-left: 20px;
}

button {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
}

#checkBybooknumber_btn {
	margin-left: 0px;
}

#checkbyNo {
	border: 1px solid black;
	border-radius: 10px;
	width: 500px;
	height : 400px;
	float: left;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
	margin-left: 140px;
	height: 400px;
}

#checkbyNo-inside {
	width: 300px;
	display: block;
	margin: 90px auto;
}

#checkbyId-inside {
	width: 300px;
	display: block;
	margin: 90px auto;
}

#bookchkSid {
	display: inline-block;
	margin-top: 20px;
}

#checkBybooknumber_btn {
	display: inline-block;
	margin-top: 20px;
}

#checkbyId {
	border: 1px solid black;
	border-radius: 10px;
	width: 500px;
	height : 400px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
}
/* reservelook */
#BookCheckResultTitle {
	text-align: center;
	position: relative;
	margin-top: 150px;
	left: 5%;
	width: 300px;
}

#bookchklist {
	margin-top: 120px;
	margin-left: 40px;
	list-style-type: none;
	font-size: 12pt;
}

#bookingCheck {
	margin-top: 1px;
}

#room-img {
	width: 500px;
	height: 400px;
	float: left;
	margin-top: 20px;
	text-align: center;
	padding: 30px;
	margin-left: 60px;
}

#BookCheck {
	border: 1px solid black;
	border-radius: 10px;
	width: 500px;
	height: 400px;
	float: left;
	margin-top: 50px;
	padding: 30px;
	margin-left: 60px;
}

#bookchkcontents {
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}

.bookchkcontentsText {
	margin-left: 20px;
}

#bookCancelBtn {
	background-color: lightblue !important;
	color: white;
	width: 100px;
}

#content{
	width : 100%;
	height:700px;
	background-image : url("../img/gradation.jpg");
}






/* 남후승 CSS (searchRoom.jsp) */
#room_container:hover {
	border: 1px solid gray;
}

#room_list {
	position: relative;
	list-style: none;
	margin: 0px 20px 0px 0px;
}

#room_container {
	border: 1px solid white;
	background-color: rgb(239, 239, 239);
	margin: 10px 15% 10px 15%;
	border-radius: 20px;
}

#room_info {
	position: absolute;
	left: 45%;
	/* 	left: 350px; */
	/* margin-top: 20px; */
	top: 20px;
}

#room_info>#room_info_address {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

#room_info>#room_info_location {
	font-size: 20px;
}

#room_info_content {
	position: absolute;
	z-index: 1;
	bottom: 50px;
	left: 46%;
	font-size: 1.1rem;
}

#room_page {
	text-align: center;
}

.reservation_btn_on {
	position: absolute;
	bottom: 20px;
	right:20px;
}

.reservation_btn_off {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#room_container img {
	position: relative;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

#room_container:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#room_container {
	overflow: hidden;
}

#info_img {
	left: 10px;
	z-index: 2;
	top: -133px;
	width: 200px;
}

#info_img>#room_info_roomid {
	position: absolute;
	left: 10px;
	z-index: 1;
	top: -133px;
	font-weight: bold;
	background-color: #fed136;
	color: black;
	border-radius: 5px;
	padding: 2px;
	font-size: 13px;
}

#info_img>#room_info_state {
	position: absolute;
	right: 10px;
	z-index: 1;
	top: -133px;
	background-color: #FF7F50;
	color: white;
	border-radius: 5px;
	padding: 2px;
	margin-left: 51%;
	font-size: 13px;
}

#room_img {
	position: relative;
}

#room_img>img {
	border-radius: 20px 0px 0px 20px;
	width: 40%;
	height: 300px;
}

/* 남후승 CSS (searchall.jsp) */
#room_location_list {
	text-align: center;
}

#room_location {
	width: 200px;
	padding: 10px 10px 10px 130px;
	border:1px solid #CACACA;
	color:#666;
	font-family: inherit;
	background: url('https://t1.daumcdn.net/cfile/tistory/99761B495C84AA8716') no-repeat 0% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text]#date_input {
	width: 200px;
	padding: 10px 10px 10px 103px; 
	border:1px solid #CACACA;
	color:#666; 
	background:url('http://cfile23.uf.tistory.com/image/26100D4F5864C76827F535') no-repeat 10px 14px; 
	background-size:15px;
	
} 

#btn_search {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 50px;
}


/* 남후승 CSS (roomdetail.jsp) */
.center_box {
    width: 1200px;
    margin: 0 auto;
}
.item_viewbox_top {
    min-height: 1500px;
    margin-top: 40px;
}

/* 왼쪽 콘텐츠 영역 */
.item_viewbox_top_left {
    float: left;
    width: 780px;
}

.header {
	margin-top: 126px;
}
.detail_img > img {
	position: relative;
	width: 780px;
	height: 400px;
}
.sub_text_tit_type01 {
	position:relative;
	padding:0 0 0 16px;
	margin-bottom:8px;
	font-family:"nanumsquare-eb";
	font-size:20px;
	line-height:32px;
	color:#444444;
	letter-spacing:-1px;
}
.sub_text_tit_type01:before {
    content: '';
    display: block;
    width: 6px;
    height: 20px;
    border-radius: 3px;
    background: #97ccff;
    position: absolute;
    top: 6px;
    left: 0;
}
.item_viewbox_top_tabcon_box03_content_box_list {
	margin-top:18px;
}
.item_viewbox_top_tabcon_box03_content_box_list > li {
	font-size:0;
	padding-left:40px;
}
.item_viewbox_top_tabcon_box03_content_box_list > li + li {
	margin-top:18px;
}
.item_viewbox_top_tabcon_box03_content_box_list > li > div {
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	letter-spacing:-1px;
}
.item_viewbox_top_tabcon_box03_content_box_list_f {
	position:relative;
	width:180px;
	padding:0 10px 0 20px;
	font-family:"nanumsquare-eb";
	font-size:16px;
	line-height:32px;
	color: #252526;
	font-weight: bold;
}
.item_viewbox_top_tabcon_box03_content_box_list_f:before {
	content:'';
	display:block;
	width:16px;
	height:16px;
	background:url('/pc/images/item_viewbox_top_tabcon_box03_content_box_list_bul.png') no-repeat left top;
	position:absolute;
	top:7px;
	left:0;
}
.item_viewbox_top_tabcon_box03_content_box_list_s {
	width:calc(100% - 180px);
	padding-right:10px;
	font-family:"nanumsquare-r";
	font-size:16px;
	line-height:32px;
	color: #252526;
}
.item_viewbox_top_tabcon_box05_text {
    padding-left: 3px;
    margin-top: 16px;
    font-family: "nanumsquare-b";
    font-size: 18px;
    line-height: 26px;
    color: #252526;
    display: inline;
}
 .item_viewbox_top_tabcon_box {
	position:relative;
	padding-top:30px;
	margin:30px 0;
	border-top:1px solid #ebebeb;
}
.map_address {
	margin-left: 20px;
    margin-bottom: 10px;
}

.fas fa-map-marked-alt {
	display: inline;
}

/* 오른쪽 사이드바 */
.item_viewbox_top_right {
    position: relative;
    float: left;
    width: 340px;
    margin-left: 80px;
    position: sticky;
    top: 0px;
}
.item_viewbox_top_right_content_box_wrap {
	position:relative;
	margin-top: 127px;
}
.item_viewbox_top_right_content_box_wrap.abs {
	position:absolute;
	width: 100%;
}
.item_viewbox_top_right_content_box {
	border:1px solid #e1e1e1;
	border-radius:3px;
}
.item_viewbox_top_right_content_box_top_item_tit {
	position:relative;
	margin-bottom:24px;
}
.item_viewbox_top_right_content_box_top_item_tit_name {
	padding:0 70px 0 10px;
	font-family:"nanumsquare-eb";
	font-size:22px;
	line-height:26px;
	color:#252526;
	letter-spacing:-1px;
}
#ctg {
	width: 100%;
    padding: 16px 10px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 0px;
    border-left: 0px;
    font-family: "nanumsquare-b";
    font-size: 16px;
    line-height: 24px;
    color: #a1a1a2;
}
#ctg_nm {
	width: 100%;
	padding: 16px 10px;
    border-top: 0px;
    border-bottom: 1px solid #ebebeb;
    border-right: 0px;
    border-left: 0px;
    font-family: "nanumsquare-b";
    font-size: 16px;
    line-height: 24px;
    color: #a1a1a2;
}
#submit {
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding-top: 4px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #006be0;
    background: #006be0;
    color: white;
}


@media screen and (max-width:1024px) {
	#room_container:hover {
		border: 1px solid gray;
	}
	
	#room_list {
		position: relative;
		list-style: none;
		margin: 0px 20px 0px 0px;	
	}
	
	#room_container {
		border: 1px solid white;
		background-color:  rgb(239, 239, 239);
		margin: 10px 15% 10px 15%;
		border-radius: 20px;
	}
	
	#room_info {
		position: absolute;
		left: 45%;
	/* 	left: 350px; */
		/* margin-top: 20px; */
		top: 20px;
	}
	
	#room_info > #room_info_address {
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#room_info > #room_info_location {
		font-size: 20px;
	}
	
	#room_info_content {
		position: absolute;
		z-index: 1;
		bottom: 50px;
		left: 46%;
		font-size: 1.1rem;
	}
	
	#room_page {
		text-align: center;
	}
	
	.reservation_btn_on {
		position: absolute;
		bottom: 20px;
		right:20px;
	}
	
	.reservation_btn_off {
		position: absolute;
		bottom: 20px;
		right:20px;
	}
	
	#room_container img {
		position: relative;
		
		 -webkit-transform:scale(1);
	    -moz-transform:scale(1);
	    -ms-transform:scale(1); 
	    -o-transform:scale(1);  
	    transform:scale(1);
	    -webkit-transition:.3s;
	    -moz-transition:.3s;
	    -ms-transition:.3s;
	    -o-transition:.3s;
	    transition:.3s;
	}
	
	#room_container:hover img {
	    -webkit-transform:scale(1.1);
	    -moz-transform:scale(1.1);
	    -ms-transform:scale(1.1);   
	    -o-transform:scale(1.1);
	    transform:scale(1.1);
	}
	
	#room_container {overflow: hidden;}
	
	#info_img {
		left: 10px;
		z-index: 2;
		top: -133px;
		width:200px;
	}
	
	#info_img > #room_info_roomid {
		position: absolute;
		left: 10px;
		z-index: 1;
		top: -133px;
		font-weight: bold;
		
		background-color: #fed136;
		color: black;
		border-radius: 5px;
		padding: 2px;
		font-size: 13px;
	}
	
	#info_img > #room_info_state {
		position: absolute;
		right: 10px;
		z-index: 1;
		top: -133px;
		
		background-color: #FF7F50;
		color: white;
		border-radius: 5px;
		padding: 2px;
		margin-left: 51%;
		font-size: 13px;	
	}
	
	#room_img {
		position: relative;
	}
	
	#room_img > img {
		border-radius: 20px 0px 0px 20px;
		width: 40%; 
		height: 300px;
	}
	
	
	
}
@media screen and (max-width:768px) {
	#search_room {
		width: 100%;
	}
	#search_page{
		padding-top: 144px;
	}
	
	#room_container:hover {
		border: 1px solid gray;
	}
	
	#room_list {
		position: relative;
		list-style: none;
		margin: 0px 20px 0px 0px;	
	}
	
	#room_container {
		border: 1px solid white;
		background-color:  rgb(239, 239, 239);
		margin: 10px 15% 10px 15%;
		border-radius: 20px;
	}
	
	#room_info {
		position: absolute;
		left: 45%;
	/* 	left: 350px; */
		/* margin-top: 20px; */
		top: 20px;
	}
	
	#room_info > #room_info_address {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#room_info > #room_info_location {
		font-size: 15px;
	}
	
	#room_info_content {
		position: absolute;
		z-index: 1;
		bottom: 50px;
		left: 46%;
		font-size: 1rem;
	}
	
	#room_page {
		text-align: center;
	}
	
	.reservation_btn_on {
		position: absolute;
		bottom: 20px;
		right:20px;
	}
	
	.reservation_btn_off {
		position: absolute;
		bottom: 20px;
		right:20px;
	}
	
	#room_container img {
		position: relative;
		
		 -webkit-transform:scale(1);
	    -moz-transform:scale(1);
	    -ms-transform:scale(1); 
	    -o-transform:scale(1);  
	    transform:scale(1);
	    -webkit-transition:.3s;
	    -moz-transition:.3s;
	    -ms-transition:.3s;
	    -o-transition:.3s;
	    transition:.3s;
	}
	
	#room_container:hover img {
	    -webkit-transform:scale(1.1);
	    -moz-transform:scale(1.1);
	    -ms-transform:scale(1.1);   
	    -o-transform:scale(1.1);
	    transform:scale(1.1);
	}
	
	#room_container {overflow: hidden;}
	
	#info_img {
		left: 10px;
		z-index: 2;
		top: -133px;
		width:200px;
	}
	
	#info_img > #room_info_roomid {
		position: absolute;
		left: 10px;
		z-index: 1;
		top: -133px;
		font-weight: bold;
		
		background-color: #fed136;
		color: black;
		border-radius: 5px;
		padding: 2px;
		font-size: 13px;
	}
	
	#info_img > #room_info_state {
		position: absolute;
	    width: 38px;
	    right: 43px;
	    z-index: 1;
	    top: -105px;
	    background-color: #FF7F50;
	    color: white;
	    border-radius: 5px;
	    padding: 2px;
	    
	    font-size: 13px;
	}
	
	#room_img {
		position: relative;
	}
	
	#room_img > img {
		border-radius: 20px 0px 0px 20px;
		width: 40%; 
		height: 300px;
	}
}
@media screen and (max-width:320px) {
}


/* 마이페이지 CSS */
#mypagecontent {
	position: absolute;
	top: 30%;
	width: 70%;
	height: 500px;
	border: 1px solid black;
	margin-left: 210px;
	padding: 40px;
}

.form-control {
	width: 150px;
	border-bottom: solid 1px black;
	float: left;

}

/* 회원가입 CSS */
#join {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 700px;
	margin-left: -400px;
	margin-top: -270px;
}

#btn_dup {
	margin-left: 125px !important;;
	text-align: center;
	padding: 4px auto;
	width: 70px !important;
	height: 35px !important;
	background-color: lightblue;
	border: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 4px;
}




/* mypage CSS */
#mypagetitle{
	text-align: center;
	position: relative;
	margin-top: -120px;
	margin-bottom : 30px;
	left: 5%;
	width: 300px;
}
#mypagecontents{
	width : 80%;
	height: 600px;
	border : 1px solid black;
	margin : 0 auto;
	text-align: left;
	line-height: 150%;
	
}

#mypageform{
	line-height: 70px;
	margin-left: 30px;
}
#mypagetable{
	margin-top : 50px;
	margin-left: 300px;;
	margin-right: auto;
}

#mypage_submitBtn{
	width: 140px;
	margin-left : 400px;
	
	margin-top : 40px;
	clear: both;
	
}
