* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
}

nav {
	background-color: black !important;
}

body {
	background-image: #34495e;
}

#loginForm {
	position: absolute;
	width: 300px;
	height: 400px;
	padding: 30px, 20px;
	background-color:#E5E5E5;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;

}

.loginForm2 {
	position: absolute;
	width: 300px;
	height: 400px;
	padding: 30px, 20px;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%-10px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;

}


.loginForm h2 {
	text-align: center;
	margin: 30px;
}

.idForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

.passForm {
	border-bottom: 2px solid #adadad;
	margin: 30px;
	padding: 10px 10px;
}

#id {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

#pw {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

.btn {
	position: relative;
	left: 40%;
	transform: translateX(-50%);
	margin-bottom: 40px;
	width: 80%;
	height: 40px;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}


.btn:hover {
	background-position: right;
}

/* īī�� �α��� ��ư */
#Kakao_login{
	position : absolute;
	top : 400px;
	left : 210px;
	border: none;
}
#Naver_login{
	position : absolute;
	top : 463px;
	left : 209px;
	border: none;
	
	
}

hr{
	border-width:2px;
}
#login{
	position : absolute;
	left : 50%;
	top : 50%;
	width : 600px ; height : 800px;

	margin-left:-300px;
	margin-top:-270px;
}

#bottomText {
	position : absolute;
	top : 570px;
	left : 180px;
	border: none;
	text-align: center;
}


#page-top{
	background-color: #E5E5E5;
}

#signup{
	position : absolute;

	left : 50%;
	top : 50%;
	width : 1000px ; height : 800px;
	margin-top:-300px;
	margin-left:-500px;
	text-align: center;
	
}
table{

	width : 800px;
	margin : 20px auto;
}
#sighupsubmitbuttons{
	width : 140px;
	margin-left : 450px;

}
#resetbt{
	margin-top:-30px;
}

#signuptitle{
	margin-top : 100px;
	
}
